<div th:insert="header.html">...</div>
<div th:insert="sidebar.html">...</div>

<main id="main" class="main">

    <div class="pagetitle">
        <h1>Dashboard</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a th:href="index.html">Home</a></li>
                <li class="breadcrumb-item active">Dashboard</li>
            </ol>
        </nav>
    </div>

    <section class="section">
        <div class="row">
            <div class="col-md-10 offset-1">
                <div class="card">
                    <div class="card-body mt-3">

                        <!-- start my work-->

                        <h1 class="card">Attendance View</h1>
                        <!--                        end my work-->
                    </div>

                </div>

            </div>

        </div>
    </section>
</main><!-- End #main -->

<div th:insert="footer.html">...</div>